.like-text {
    color: #2ecc71;
}

.dislike-text {
    color: #e74c3c;
}

.comments-text {
    color: #2980b9;
}

.right-button-border {
    border-right: 1px solid #cdcdcd;
}

.comment-post-modal {
    position: absolute;
    width: 800px;
    top: 30%;
    left: 50%;
    margin-left: -400px;
    background-color: #FFFFFF;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 10px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.comments-container {
    max-height: 165px;
    overflow-y: scroll;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding-left: 10px;
}

.comment-text {
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}